$color-principal: rgb(36, 5, 65);
$titulos-on: #49137C;
$borde-tarj: #5B179A;
$fuente-kameron: 'kameron', serif;
$fuente-junge: 'junge', serif;
$fuente-montserrat: 'Montserrat', Sans-serif;
                    
                